.sidebar-about img {
  display: inline;
  border-radius: 80px;
  border: white solid 2px;
	/* image-rendering: pixelated; */
}

/*
 * Social Icons
 */

.social-icons.icon-circle .fab {
  border-radius: 50%;
}

.social-icons .fab {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.6em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-icons .fab:hover,
.social-icons .fab:active {
  color: #FFFFFF;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); 
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  padding: 0 .5rem;
}

.social-icons .fa-facebook {
  background-color: #3C599F;
}

.social-icons .fa-twitter {
  background-color: #32CCFE;
}

.social-icons .fa-github-alt {
  background-color: #070709;
}

.social-icons .fa-linkedin {
  background-color: #0085AE;
}

@media (min-width: 0em) {
  #particles-js {
    height: 0px;
  } 
}

@media (min-width: 48em) {
  #particles-js {
    height: calc(100vh - 4rem);
  }
}

#title-typed {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge:empty {
  display: none;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

#menu-button {
  position: fixed;
  visibility: hidden;
  display: inline-block;
  cursor: pointer;
  padding: 8px;
}

@media (min-width: 48em) {
  #menu-button {
    visibility: visible;
  }
}

.menu-animate-1, .menu-animate-2, .menu-animate-3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.update-ui .menu-animate-1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 4px);
  transform: rotate(-45deg) translate(-8px, 4px);
}

.update-ui .menu-animate-2 { 
  opacity: 0; 
}

.update-ui .menu-animate-3 {
  -webkit-transform: rotate(45deg) translate(-9px, -5px);
  transform: rotate(45deg) translate(-9px, -5px);
}

.page, .post {
  margin-bottom: 2em;
}

.p-center {
  text-align: center;
}