.cv {
  color: #5e5e5e;
}

.cv p {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.cv .cv-header {
  text-align: center;
  line-height: 1;
}

#header-name {
  font-size: 50px;
  font-weight: 200;
}

#header-name b {
  color: #000;
}

.blue {
  color: #0096FF;
}

#header-title {
  font-size: 15px;
}

#header-address {
  font-style: italic;
  font-size: 17px;
  font-weight: 200;
}

#header-contact {
  color: #000;
  font-size: 17px;
}

#header-contact a {
  color: #000;
}

#header-quote {
  font-size: 17px;
  color: #000;
  font-style: italic;
  font-weight: 200;
}

.cv-section {
  margin-top: 35px;
}

.cv-section .title {
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  color: #000;
  margin-bottom: 0.75rem;
  /* For Line After */
  position: relative;
}

.cv-section .title span {
  background-color: white;
}

.cv-section .title:after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.3em;
  border-top: 1px solid black;
  z-index: -1;
}

.cv-col {
  float: left;
  width: 50%;
}

.cv-row {
  line-height: 0.8;
}

.cv-row:after {
  content: "";
  display: table;
  clear: both;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

.cv-node-name {
  font-size: 20px !important;
  font-weight: 500;
  color: #000;
}

.cv-node-title {
  font-weight: 500;
}

.cv-download-button {
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}